.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 150px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  background-color: rgb(180, 112, 244);
  border: 2px solid black;
}